/* @charset "utf-8";

@font-face{
    font-family: 'smartUI';
    src: url('./fonts/03スマートフォントUI.otf') format('opentype');
  }
  @font-face{
    font-family: 'yasashisa';
    src: url('./fonts/07やさしさゴシックボールド.ttf') format('truetype');
  }
  h1,p,ul,li,button,table,td,th,label,div,input{
    font-family: 'Noto Sans JP','smartUI',sans-serif;
    line-height: 1.5em;
  }

html{
    color: #333;
}
.card_area{
    position: absolute;
    top: 0;
    width: 100vw;
    min-width: 800px;
    height: 100vh;
    min-height: 600px;
}
.box{
    width: 400px;
    height: 500px;
    padding: 10px 20px;
    position: fixed;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    background-color: rgba(220,220,220,.2);
}
@media screen and (max-width:800px){
    .box{
        left: calc(400px - 200px);
    }
}
@media screen and (max-height:600px){
    .box{
        top: calc(300px - 300px);
    }
}

.header-text{
    width: 240px;
    padding: 0 10px;
    margin: 10px 0px;
    font-size: 22px;
    border-left: solid 7px #aaa;
}

.form-group{
    position: relative;
    display: flex;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}
.form-group label{
    width: 140px;
    padding: 10px 10px;
    background-color: #ddd;
}
.form_caution{
    color: #777;
    font-size: 12px;
}
.form-group input{
    position: absolute;
    top: 50%; 
    left: calc(70px + 50%);  
    transform: translateY(-50%) translateX(-50%);
    border: solid 2px #aaa;
    border-radius: 3px;
    font-size: 12px;
}
.form-group-first{
    border-top: solid 2px #aaa;
}
.form-group-last{
    border-bottom: none;
}

.regist-button{
    margin: 30px 50px;
    width: 300px;
    height: 40px;
    border: solid 2px #222;
    background-color: #444;
    border-radius: 5px;
    color: #fff;
    cursor:pointer;
}
.regist-button:hover{
    background-color: rgb(112, 112, 112);
    transition: all 0.3s;
} */
